body {
    padding:16px;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

h1.title{
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 30px;
}

p{
  text-align: justify;
  margin-bottom: 50px;
}

span{
  padding: 1000px 0;
}

.container{
  width: 80%;
  max-width: 800px;
  margin: auto;
}